/*PC右ナビゲーション*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 90px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*Common*/
.text-main {
    color: #256643 !important;
}

.bg-main {
    background: #f5f7f6;
}

.bg-main-dark {
    background: #e8eeeb;
}

.btn-outline-main {
    color: #376446;
    border-color: #376446;
}

.btn-outline-main:hover {
    color: #fff;
    background-color: #376446;
    border-color: #376446;
}

.mw-100 {
    max-width: 100%;
}

.footer-logo {
    width: 25%;
}

.bg-cream {
    background: #fffdf5;
}

/*トップ重なり部分*/
.content1 {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.content2 {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 1;
}

.font-xs {
    font-size: 20%;
}

.font-s {
    font-size: 40%;
}

.font-m {
    font-size: 60%;
}

.font-l {
    font-size: 80%;
}

.font-xl {
    font-size: 100%;
}

.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

.fullscreen .modal-dialog {
    margin: 0 0 0 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    ;
}

.fullscreen .modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    background: rgba(36, 36, 36, 0.90);
    overflow: auto;
}

.fullscreen .modal-content .modal-header {
    border: 0px;
}

.fullscreen .modal-content button {
    opacity: 1;
}

.fullscreen .modal-content button span {
    color: #fff;
    font-weight: 1;
    font-size: 26px;
    text-shadow: none;
}

.fullscreen .modal-body .modal-logo img {
    width: 158px;
    padding-bottom: 84px;
}

.fullscreen .modal-body ul {
    padding: 0 0 0 0;
}

.fullscreen .modal-body li {
    padding-bottom: 43px;
}

.fullscreen .modal-body a {
    color: #fff;
    font-size: 16px;
}

.fullscreen .modal-body .social img {
    width: 56px;
    margin: 8px;
}

.modal-title {
    color: #fff;
}

@media (max-width: 575.98px) {
    .spTop {
         margin-top:55px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .my-class {
        // cssプロパティをここに記述
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .my-class {
        // cssプロパティをここに記述
    }   
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .my-class {
        // cssプロパティをここに記述
    }   
}

@media (min-width: 1200px) {
    .my-class {
        // cssプロパティをここに記述
    }   
}
